
  <h1>Web Scraped Stock News from stocknews.com</h1>
  {{#grouped_each 3 news}}
  <div class="row">
    {{#each this }}
    <div class="card" style="width: 18rem;">
      <img src="{{image}}" class="card-img-top" alt="...">
      <div class="card-body">
        <a href="{{URL}}">
          <h5 class="card-title">{{headline}}</h5>
        </a>
        <p class="card-text">{{summary}}</p>

        <a href="#" class="btn btn-primary saveArticle" data-id="{{id}}">Save</a>

      </div>
    </div>
    {{/each}}
  </div>
  {{/grouped_each}}

<style>
  .card-img-top {
    width: 200px;
    height: 200px;
  }

  .card {
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>