
    <h1>Saved Articles</h1>
    {{#grouped_each 3 news}}
    <div class="row">
        {{#each this }}
        <div class="card" style="width: 18rem;">
            <img src="{{image}}" class="card-img-top" alt="...">
            <div class="card-body">
                <a href="{{URL}}">
                    <h5 class="card-title">{{headline}}</h5>
                </a>
                <p class="card-text">{{summary}}</p>

                
                <a type="button" class="btn btn-danger deleteArticle" data-id="{{id}}">Delete</a>

            </div>
        </div>
        {{/each}}
    </div>
    {{/grouped_each}}

<style>
    .card-img-top {
        width: 200px;
        height: 200px;
    }

    .card {
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>